/*!
    Josh's Custom CSS Reset
    https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,*::after,*::before{box-sizing:border-box}*{margin:0}body{line-height:1.5;-webkit-font-smoothing:antialiased}canvas,img,picture,svg,video{display:block;max-width:100%}button,input,select,textarea{font:inherit}h1,h2,h3,h4,h5,h6,p{overflow-wrap:break-word}#__next,#root{isolation:isolate}
/*========================================================================== */
:root { color-scheme: light dark; 
    --gray-2: #f6f5f3;  --gray-accent: #d6d1c3;
    --gold: #DBA507;
    --dark-bg: #2f2e36;
    --dark-bg-4lighter: #2e2d33;
}
body { 
    background-image: linear-gradient(#fdf6e3, var(--gray-2, #f6f5f3));
    min-height: 100vh;
    max-width: 50em; /* WCAG 2.1 */
    margin: 0 auto;
    color:#586E75; 
    padding: 1rem 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
}
header{
    margin-bottom: 1em;
    padding-bottom:1em;
    border-bottom: solid 1px #ccc;
}
header, footer { padding-top: 1rem; }
h1, h2 { margin: 1rem 0; }
header img { margin-left: 1rem; }
a,a:visited { color: #0E74BB;}
a:active{ color: #2AA198;}
a:hover {
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
    text-decoration-line: underline overline;
}
/* https://www.smashingmagazine.com/2020/07/css-techniques-legibility/ */
@supports (font-size-adjust: 1) {
    p { font-size-adjust: 0.5; }
}
main blockquote { font-size: 0.8em; }
p { 
    font-size: 1.1em;
    line-height: calc(1ex / 0.32); 
    margin: calc(1ex / 0.32) 0;
}
p, ul { margin-bottom: 1rem;}
p+p{margin-top:1.5em;  /* WCAG 2.1 */}
p span.no { display:none; }
img { border: 1px solid #999;  margin: 0.5rem; }
a img { border: none; }

.right { float: right; }
footer small { font-size: 0.6rem; }

@media (prefers-color-scheme: dark) {
    body {
    background: var(--dark-bg-4lighter);
    background-image: linear-gradient(var(--dark-bg,#444), var(--dark-bg-4lighter, #333));
    color: #E4E9EA;
    }
    a, a:visited, a:active { color: var(--gold, gold);}
}